{% extends "layout.html" %}

{% block content %}

	<br></br>

	{% for obj in data %}
		<hr></hr>
		<p>Date: {{obj["date"]}}</p>
		<p>Price: ${{obj["price"]}}</p>
		<p>Type: ${{obj["type"]}}</p>
	{% endfor %}


{% endblock %}