{% extends "layout.html" %}

{% block content %}

	<p>	{{dump(timestamp)}} </p> 

	<br></br>

	{# {% for smalldump in timestamp %}
		<li> {{smalldump}} </li>
		<br></br>
	{% endfor %} #}

{% endblock %}