{% extends "layout.html" %}

{% block content %}

	<p>	Price: {{dump(timestamp["stats"][0][0])}} </p>
	<p>	Date: {{dump(timestamp["stats"][0][1])}} </p>

	<br></br>

	{# {% for smalldump in timestamp %}
		<li> {{smalldump}} </li>
		<br></br>
	{% endfor %} #}

{% endblock %}