{% extends "layout.html" %}

{% block content %}

	<br></br>

	{% for smalldump in timestamp["stats"] %}
		{# <p>Price: {{dump((DateTime) smalldump[0])}}</p> #}
		<hr></hr>
		<p>Price: ${{number_format(smalldump[0][1], 2, '.', ',')}}</p>
	{% endfor %}

	{{dump(timestamp)}}

{% endblock %}