{% extends "layout.html" %}

{% block content %}

	<p>	{{dump(timestamp[0])}} </p>

	<br></br>

	{# {% for smalldump in timestamp %}
		<li> {{smalldump}} </li>
		<br></br>
	{% endfor %} #}

{% endblock %}