{% extends "layout.html" %}

{% block content %}

	<p>{{dump(timestamp["stats"])}}</p>

	<br></br>

	{# {% for smalldump in timestamp["stats"] %}
		<p>Price: {{dump(smalldump[0])}}</p>
		<br></br>
		<p>Price: {{dump(smalldump[0])}}</p>
	{% endfor %} #}

{% endblock %}